*{
    padding: 0;
    margin: 0;
}
.Wrapper{
    width: 100vw;
    height: 100vh;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Panel{
    max-width: 400px;
    width: 90vw;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding-top: 10px;
}
input{
    padding: 10px;
    border-radius: 12px;
    border: 1px solid lightcoral;
}
button{
    padding: 10px;
    cursor: pointer;
}